@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>EasyBooking A/S</h1>
    <p class="lead">EasyBooking is a whitelabel table <b>booking system</b> that can be <b>customized</b> for your restaurant!</p>
    <p class="lead">We deploy to production <b>within a couple of weeks</b> from getting your order.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg" style="margin-top: 60px">Learn more &raquo;</a></p>
</div>

